
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">

  <style>
    body {
        background-color: #706e6b;
    }
</style>

  <meta name="theme-color" content="#fafafa">
</head>

<body>

<div class="container-fluid">
  <nav class="navbar navbar-center navbar-expand-lg navbar-dark bg-dark text-center">
  <a class="navbar-brand" href="/">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/tables">TABLES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">PROFILE</a>
      </li>
      <ul class="navbar-nav navbar-right">
        <a href="/logout"><button class="btn btn-danger btn-md">LOGOUT</button></a>
      </ul>
     
    </ul>
    
  </div>
</nav>
</div>


<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/custom.js"></script>

</body>

</html>